.table {
  border: 1px solid red;
  background-color: aqua;
  padding: 20px;
  margin: 20px;
  width: 18vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  & div {
    font-size: 30;
  }
  &:hover {
    background-color: aquamarine;
  }
}
